body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #093637, #44A08D);     
}

#card {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background: linear-gradient(to right, #F8FFAE, #43C6AC); 
    position: fixed;
}    
button{
    width: 80px;
    height: 80px;
    margin: 20px;
}

#but_1
{
background: linear-gradient(to right, #64f38c, #f79d00); 
}

#but_2
{
background: linear-gradient(to right, #cb2d3e, #ef473a); 
}

#but_3
{
background: linear-gradient(to right, #000428, #004e92);
}
